<div>
<h1>Note title: <%= @note.title %></h1>
</div>

<div>
<h3>Content: <%= @note.content %></h3>
</div>

<div>
<ol>
<h4>Comments: </h4>
<% @comments.each do |c| %>
    <li><%= c.content %></li>
<% end %>
</ol>
</div>

<div>
<%= link_to "New Comment", new_group_note_comment_path(note_id: @note.id) %>
</div>