
<div class="container" style="padding: 10px;">
    <div class="text-center px-5">
        <%# <div class="card-columns"> %>
            <div class="card">
                <h1>Edit your GroupIt profile</h1>
                <div class="card-body">
                    <%= render 'form' %>
                </div> 
            </div>
    </div>
</div>
