<h1>Welcome to GroupIt</h1>
</div>

<div>
    <p>Please fill out your name, age, location, and give us a brief biography of yourself, and make sure to include your interests and any activities you enjoy!</p>
</div>

<%= render 'form' %>

