<h1>Groups Index</h1>

<%= button_to "Create Group", { action: 'new', controller: 'groups' }, method: 'get' %>
<div class="text-center">
    <div class="container mt-3">
        <% @groups.each do |group| %>
        <div class="row">
            <div class="col-lg-4">
                <h2><%= link_to group.title, group_path(group) %></h2>
            </div>
            <div class="col-lg-4">
                <h3><%= group.theme %></h3>
            </div>
            <div class="col-lg-4">
                <h3><%= group.description %></h3>
            </div>
        </div>
        <% end %>
    </div>
</div>