<div class="container" style="padding: 10px;">
    <div class="text-center px-5">
        <div class="card">
            <h1>New Group</h1>

            <%= render 'form' %><br>
        </div>
    </div>
</div>